img {
    max-width: 100%;
    height: auto;
}

a{
    color:inherit;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.1em;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

p{
    letter-spacing: 0.05em;
}

button{
    letter-spacing: 0.1em;
}